/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Body */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
}

/* Main form */
form {
  background: #fff;
  padding: 30px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
}

/* Heading */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Input */
.input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
  outline: none;
}

/* Button */
.btn {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background: #333;
}

/* Result text */
.result {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}
